<ion-item>
  <ion-avatar class="task">
    <img *ngIf="!getTask()?.image" alt="Silhouette of a Landscape" src="../../../assets/images/landscape-100.png" />
    <img *ngIf="getTask()?.image" alt="Custom picture" [src]="getTask().image" />
  </ion-avatar>
  <ion-icon name="link-outline"></ion-icon>
  <ion-avatar class="person">
    <img *ngIf="!getUser()?.image" alt="Silhouette of a person's head" src="../../../assets/images/user-96.png" />
    <img *ngIf="getUser()?.image" alt="Person picture" [src]="getUser().image" />
  </ion-avatar>
  <ion-label id="date" class="ion-text-center ion-text-wrap">{{assignInfo.dateTime | date:'short'}}</ion-label>
  <!-- BUTTONS -->
  <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="ellipsis-horizontal-circle-outline" ></ion-icon></ion-button>
  <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="close-circle-outline" ></ion-icon></ion-button>
</ion-item>

<ion-item-options>
  <ion-item-option (click)="onEditClick()">
    <ion-icon slot="top" name="create"></ion-icon>
    {{'Edit' | uppercase}}
  </ion-item-option>
  <ion-item-option (click)="onDeleteClick()" color="danger">
    <ion-icon slot="top" name="trash"></ion-icon>
    {{'Delete' | uppercase}}
  </ion-item-option>
</ion-item-options>