<ion-accordion-group>
  <ion-item>
  <ion-accordion>
    <!-- <ion-avatar style="width:50px;height:50px;margin:10px;margin-right:20px">
      //<img *ngIf="taskdata.image" alt="Person picture" [src]="taskdata.image" />
     <img  *ngIf="!taskdata.image"  alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" /> 
    </ion-avatar>-->
</ion-accordion>
<ion-card-subtitle>{{assignment.dateTime}}</ion-card-subtitle>
  <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="pencil-sharp"></ion-icon></ion-button>

      <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="close-sharp"></ion-icon></ion-button>
    </ion-item>
</ion-accordion-group>
