<ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-avatar slot="start">
          <img *ngIf="userInput.image == ''" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          <img *ngIf="userInput.image != ''" src="{{userInput.image}}" />
        </ion-avatar>
        <ion-card-title> {{ userInput.name }},{{userInput.nickname}}</ion-card-title>
        <ion-card-subtitle>{{userInput.description}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{userInput.image}}
      </ion-card-content>
    </ion-card>
</ion-grid>
