<ion-item>
  <ion-accordion-group expanded>
  <ion-accordion>
    <ion-item slot="header" color="light">
      <ion-avatar style="width:50px;height:50px;margin:10px;margin-right:20px">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{userdata.name}}, {{userdata.nickname}}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content" >
      {{userdata.description}}
    </div>
  </ion-accordion>
</ion-accordion-group>
  <ion-button icon-only fill="clear" color="success" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="create-outline" ></ion-icon></ion-button>
  <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="trash-outline" ></ion-icon></ion-button>
</ion-item>
<!--
  *ngIf="!userdata.image" 
  <img *ngIf="userdata.image" alt="Person picture" [src]="userdata.image" />
-->