<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/">Return</ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Assignments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="onNewAssignment()" style="margin:10px;width:50px;height:50px;--border-radius:50%" slot="start" icon-only><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-button>
  <ion-grid>
  <ion-list *ngFor="let assignment of getAssign()">
      <app-assignment  [assign]="assignment" (onEdit)="onEditAssign($event)" (onDelete)="onDeleteAssign($event)"></app-assignment>
  </ion-list>
</ion-grid>

</ion-content>
<ion-button  style="margin:10px;width:50px;height:50px;--border-radius:50%"  icon-only><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-button>