
<ion-header>
  <ion-toolbar>
    <ion-title>Datos de la Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup] = "form" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        Name
      </ion-label>
      <ion-input type="text" placeholder="Introduce tu nombre completo" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Difficulty
      </ion-label>
      <ion-input type="text" placeholder="Introduce tu apodo" formControlName="difficulty"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Description
      </ion-label>
      <ion-input type="text" placeholder="Introduce una descripción" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Time in Seconds
      </ion-label>
      <ion-input type="text" placeholder="Introduce la duracion de la tarea" formControlName="timeInSeconds"></ion-input>
    </ion-item>
    <ion-button (click)="onSubmit()"  [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
  </form>
</ion-content>